[core]
    excludesfile = ~/.gitignore
    whitespace = trailing-space,tab-in-indent
    editor = "which mvim > /dev/null 2>&1 && mvim --remote-tab-wait-silent $@ || vim"
[user]
    name = Erik Hesselink
# BEGIN palantir
    #email = ehesselink@palantir.com
# END palantir
# BEGIN personal
    #email = hesselink@gmail.com
# END personal
[color]
    ui = auto
[alias]
    st  = status
    ci  = commit
    ch  = checkout
    br  = branch
    chr = cherry-pick
    ff  = merge --ff-only
    wu = log --stat @{upstream}..HEAD
    up = !sh -c 'git stash && git pull && git stash pop'
    lol = log --graph --decorate --pretty=oneline --abbrev-commit
    lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
    lc = log ORIG_HEAD.. --stat --no-merges
    lm = log HEAD..@{upstream}
    ls = ls-tree -r --name-only HEAD
    wdiff = diff --color-words
    wshow = show --color-words
    blog = !sh -c 'git log $1 $2 $3 $4 $5 $6 $7 $8 $9 `git merge-base master HEAD`..HEAD' -
    brebase = !sh -c 'git rebase -i $1 $2 $3 $4 $5 $6 $7 $8 $9 `git merge-base master HEAD`' -
    bdiff = !sh -c 'git diff $1 $2 $3 $4 $5 $6 $7 $8 $9 `git merge-base HEAD master` HEAD' -
    cia = commit --amend -C HEAD
    ciaa = commit --amend -a -C HEAD
    ciav = commit -a -v
    wip = !sh -c 'git add -A && git commit -m WIP'
    pop = reset HEAD^
    sup = !sh -c 'cd `git rev-parse --show-toplevel` && git submodule update --init' -
    pgdev = push origin HEAD:refs/for/develop
[merge]
    conflictstyle = diff3
    defaultToUpstream = true
    tool = mvim
[push]
    default = simple
    followTags = true
[rerere]
    enabled = true
[rebase]
    autosquash = true
[advice]
    statusHints = false
    pushNonFastForward = false
[diff]
    renames = copies
    tool = mvimdiff
    compactionHeuristic = true
[branch]
    autosetuprebase = always
[pull]
    rebase = preserve
[difftool "mvimdiff"]
    cmd = mvim -f -d \"$LOCAL\" \"$REMOTE\"
[mergetool "mvim"]
    cmd = mvim -f $MERGED
[mergetool "mvimdiff"]
    cmd = mvim -f -d -M -c \"wincmd J\" -c \"set modifiable\" -c \"set write\" \"$MERGED\" \"$LOCAL\" \"$BASE\" \"$REMOTE\"
[mergetool]
    prompt = false
    keepBackup = false
[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    required = true
[submodule]
    fetchJobs = 0
[commit]
    verbose = true
